<form *ngIf="showAddTask" class="add-task" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Add Task">
  </div>
  <div class="form-control">
    <label for="day">Date</label>
    <input type="date" name="day" id="day" [(ngModel)]="day" placeholder="Add Date">
  </div>
  <div class="form-control">
    <label for="time">Time</label>
    <input type="time" name="time" id="time" [(ngModel)]="time" placeholder="Add Time">
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder">
  </div>
  <input type="submit" value="Add Task" class="btn btn-block">
</form>
